{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
<html>

    <title>メモ</title>
    <header>
        <h1>
            {% block header %}
            {% endblock header %}
        </h1>
        <nav class="pc-nav">
            <ul>
                <li><a href='{% url "home" %}'>ホーム画面</a></li>
                <li><a href='{% url "list" %}'>todo一覧</a></li>
            </ul>
        </nav>
    </header>
    <body>
        
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
    </footer>
</html>