<!DOCTYPE html>
<html lang="ja">
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


<link rel="stylesheet" href="{% static 'css/base.css' %}">
<html>

    <title>メモ</title>
    <header>
        <h1>
            {% block header %}
            {% endblock header %}
        </h1>
        <nav class="pc-nav">
            <ul id="headlists">
                <li class="headlist"><a href='{% url "home" %}'>ホーム画面</a></li>
                <li class="headlist"><a href='{% url "list" %}'>メモ一覧</a></li>
            </ul>
        </nav>
    </header>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
    </footer>
</html>